
.DashboardBar {
    display: flex;
    flex-direction: row;
}
.DashboardWidget {
    border-radius: 4px;
    margin: 8px ;
    padding: 16px;
    border: 2px solid lightgray;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 100px;
    flex-grow: 1;
}
.DashboardLabel {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    padding-left: 24px;
    color: #4c8fc8;
}
.DashboardNumeric {
    padding-top: 16px;
    font-size: 2.8em;
    font-weight: bold;
    text-align: right;
}