.App {
}

.DebugButton {
    color: white;
}
.DebugPane {
    padding: 8px;
    width: 500px;
    border-left: 3px solid cadetblue;
    height: 100vh;
}
.DebugHeader {
    font-size: 2em;
    color: cadetblue;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

H1 {
    color: #5e8fc2;
    font-size: 1.6em;
}
