.EnumSlug {
}

.Colors-BLACK > i {
    color: black;
}
.Colors-BLUE > i {
    color: cornflowerblue;
}
.Colors-BROWN > i {
    color: saddlebrown;
}
.Colors-GREEN > i {
    color: darkseagreen;
}
.Colors-ORANGE > i {
    color:  orange;
}
.Colors-PURPLE > i {
    color: mediumpurple;
}
.Colors-RED > i {
    color: red;
}
.Colors-WHITE > i {
    color: lightgray;
}
.Colors-YELLOW > i {
    color: yellow;
}

.JobState {
    /*border-radius: 4px;*/
    /*background-color: #e5e5e5;*/
    /*display: inline-block;*/
    /*padding: 1px 4px;*/
}

.JobState-INACTIVE > i {
    color: darkgray;
}
.JobState-ACTIVE > i {
    color: cornflowerblue;
}
.JobState-FAILED > i {
    color: red;
}
.JobState-PENDING > i {
    color: darkorange;
}
.JobState-PUBLISHED > i {
    color: green;
}
.JobState-REMOVED > i {
    color: #8f7a33;
}


.GeoType-STATE > i {
    color: green;
}
.GeoType-TERRITORY > i {
    color: darkgray;
}

.TaskState-FAILED > i {
    color: red;
}
.TaskState-COMPLETED > i {
    color: darkseagreen;
}
.TaskState-PENDING > i {
    color: darkorange;
}