:root {
    --thing-link-color: steelblue;
}

.ThingLink:hover {
    text-decoration: underline;
}
.ThingLink {
    color: var(--thing-link-color);
}

.DataFilters {
    padding: 8px;
    width: 400px;
}
