.LoginDialogWrapper {
    margin: 0 0;
    text-align: center;
}
.LoginDialog {
    border: 1px solid gray;
    padding: 8px;
    width: 320px;
    height: 500px;
}
.LoginHeader {
    color: #666;
    font-weight: bold;
    margin: 4px;
}
.LoginText {
    color: #666;
    padding: 12px 8px 20px 8px;
}
