.FancyTable {
    margin: 8px;
    padding: 8px;
    height: 100%;
    border-collapse: collapse;

    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;

    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;

}
.FancyTable td, .FancyTable th {
    padding: 6px 16px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.FancyTable tbody td, tbody .FancyTable th {
    color: rgba(0, 0, 0, 0.87)
}

.FancyTable thead tr th {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #4379b1;
}
.FancyTable tbody tr:hover {
    background-color: #f9f9f9;
}
